*{
    margin: 0;
    padding: 0;
}
body{
        line-height: 1.86em;
}
.home{
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size: 100% 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
}
.layer{
    background-color: rgb(0, 0, 0,0.6);
}
.nav-par{
    width: 90%;
}
.logo{
    overflow: hidden;
    margin-top: 0px;
}   
.home img{
    padding-top: 15px ;
    width: 160px;
}
.nav-item{
    padding-left: 15px ;
    font-size: 1.2rem;   
}
.nav-link{
    cursor: pointer;
    color: white;
}
.nav-link:hover{
    color: #AE9768;
    border-bottom: 2px solid #AE9768;
}
.nav-item .nav-link.active{
    color: white;
}
.nav-item .nav-link.active:hover{
    color: #AE9768;
    border-bottom: 2px solid #AE9768;
}
.logo a{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 16px;
    font-size: 14px;
    width: 100px;
    font-size: medium;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home2{
    text-align: center;
    z-index: 900000;
}
.wel{
    font-size:23px ;
}
.pra0{
    font-size: 23px;
    font-family:'Alegreya Sans';
    padding: 5px 0px 0px ;
}
h1{
    font-size: 70px;
    font-family: 'Alegreya Sans', sans-serif;
    padding: 5px 0px ;
}
.icon-body{
    padding: 10px 5px 10px 10px ;
    border: none;
    border-top-left-radius: 2px ;
    border-bottom-left-radius: 2px ;
    background-color:white;
    top: 90%;
    font-size: 21px  ;
    font: normal;
}
.icon-body i{
    color: #666;
    transition-duration: 0.4s;
    cursor: pointer;
}
.icon-body i:hover{
    color: #3693E6;
}


.butt{
    padding: 15px 30px ;
    border: none;
    margin-top: 30px;
}
.btn-danger1{
    background-color: #AE9768;
    border: 1px solid #AE9768;
    color: white;
    padding: 20px ;
}
.btn-danger1:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.btn-primary1{
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 20px ;
}
.btn-primary1:hover{
    background-color: #AE9768;
    border: 1px solid #AE9768;
    color: white;
}
.btn-1{
    background-color: #AE9768;
    border: 1px solid #AE9768;
    color: white;
    padding: 20px 40px  ;
}
.btn-1:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.boxNav{
    right: -254px;
    
}
.coloringBox span{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px ;
}   
.whowe{
    background-color: #ffffff;
}
.pict1 img{
    width: 90%;
    
}
.title1{
    text-align: center;
    width: auto;
    margin-top: 20px;
    
}
H2{
    text-align: left;
    font-size: 36px;
    font-family: serif;
    padding-bottom: 30px;
    color: #373030;
}
.color-p{
    color: #686868;
}
.pra2{
    text-align: center;
    padding:0px 0px 0p 1000px  ;
}
.OurLocation{
    background-color: rgb(216, 214, 214);
    display: flex;
    justify-content: space-between;
}
.icon-who{
    width: 40px ;
    height: 40px ;
    border: 1px solid #aaa;
    border-radius: 50%;
    color: #8E7754;
    font-size: 20px ;
}
.title2{
    text-align: left;
    width: auto;
    margin-top: 20px;
    margin-right:17%;
    margin-right: 200px;
    display: inline-block;
    padding-left: 200px;
    padding-top: 20px;
    
}
.OurLocation img{
    width: 500px;
    padding-right: 150px;

}
.h222{
    font-family: 'Alegreya Sans', sans-serif;
}
.p3{
    font-size: 17px;
}
.p4{
    font-size: 17px;
    padding-top: 15px;
}







.OurBaking{
    text-align: center;
    padding-bottom: 60px;
}

.title3{
    font-size: 32px; 
}
.h22{
    text-align: center;
}

.pra3{
    color: gray;
    padding-top: 30px;
}

.meals{
    text-align: center;
    margin: auto;
    color: gray;
    padding-bottom: 30px;
    
}

.meal3{
    background-color: rgb(255, 255, 255);
    width: 24%;
    display: inline-block;
    text-align: center;
    
}
.meal4{
    background-color: rgb(255, 255, 255);
    width: 24%;
    display: inline-block;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
.meal5{
    background-color: rgb(255, 255, 255);
    width: 24%;
    display: inline-block;
    text-align: center;
    
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Alegreya';
    font-size: 22px;
}

.meal3 img{
width: 100%;

}
.meal4 img{
width: 100%;

}
.meal5 img{
width: 100%;

}
.ContactInformation{
    background-color: rgba(122, 121, 121, 0.671);
    text-align: left;
    width:auto;
    padding-left: 50px;
}
.cont{
    padding-top: 60px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;


}
.pra4{
    color: gray;
    font-size: large;
}
.lacation{
 display: block;
 margin-left: auto;
  
}
.our{

    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 22px;
}
 
 

.footer{
    background-color:#3f3a33 ;
    text-align:left;
    display: flex;
    width: auto;
    justify-content: space-between;
    font-size: 14px;
    width: 1519.2px;
    height: 305.25px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
    padding-top: 80px;
}

.row0{
    background-color: #3f3a33;
    width: 20%;
    display: inline-block;
    text-align: left;
}
.row2{
    background-color: #3f3a33 ;
    width: 20%;
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 40px;
}
.row3{
    background-color: #3f3a33;
    width: 20%;
    display: inline-block;
    text-align: left;
}
.row4{
    background-color: #3f3a33;
    width: 20%;
    display: inline-block;
    text-align: left;
}
.aboutus{
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: left;
}
.whwe{
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 40px;
    font-size: 22px;
    text-align: left;

}

.opening{
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: left;
}
.h8{
    padding-right: 160px;
    font-family: 'Alegreya Sans', sans-serif;
    padding-bottom: 20px;
    font-size: 22px;
}


.a5{
    background-image: url(images/contact-details-map.png);
    width: 50%;
    display: block;
    text-align: center;
    background-position:top;
}



























.logoend{
    text-align: center;
    background-color: #494642;
    padding-top: 50px ;
    padding-bottom: 10px;
    color: white;
    width: 1519.2px;
    height: 305.25px;
}
.logoend img{
    padding-bottom: 10px;
    padding-top: 20px;
}
.pra7{
    padding-bottom: 10px;
}
.link{
  padding: 10px;
}


